body {
    background:url("../image/image1.jpg");
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center center; /* Center the image both horizontally and vertically */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Optional: Fix the background image in place */
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    text-align: center;
    margin: 10;
}

h1 {
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

input, button {
    margin: 5px 0;
}

