body {
    background:url("../image/image1.jpg");
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    text-align: center;
    margin: 10;
}

h1 {
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

input, button {
    margin: 5px 0;
}

